<form
  #loginForm="ngForm"
  class="flex flex-col gap-2"
  (ngSubmit)="handleRegister()"
>
<div class="flex flex-col gap-1">
    <label for="firstName">First Name</label>
    <input
      type="firstName"
      [(ngModel)]="registerData.firstName"
      name="firstName"
      required
      [class]="inputClass"
    />
  </div>
  <div class="flex flex-col gap-1">
    <label for="lastName">Last Name</label>
    <input
      type="lastName"
      [(ngModel)]="registerData.lastName"
      name="lastName"
      required
      [class]="inputClass"
    />
  </div>
  <div class="flex flex-col gap-1">
    <label for="email">Email</label>
    <input
      type="email"
      [(ngModel)]="registerData.email"
      name="email"
      required
      [class]="inputClass"
    />
  </div>
  <div class="flex flex-col gap-1">
    <label for="username">Username</label>
    <input
      type="text"
      [(ngModel)]="registerData.username"
      name="username"
      required
      [class]="inputClass"
    />
  </div>
  <div class="flex flex-col gap-1">
    <label for="password">Password</label>
    <input
      type="password"
      [(ngModel)]="registerData.password"
      name="password"
      required
      [class]="inputClass"
    />
  </div>
  <div class="flex flex-col gap-1">
    <label for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      [(ngModel)]="registerData.confirmPassword"
      name="confirmPassword"
      required
      [class]="inputClass"
    />
  </div>
  <button type="submit" class="w-fit p-2 px-5 border rounded shadow-sm active:shadow focus:shadow hover:border-zinc-300 focus:border-zinc-300">Register</button>
</form>
