<nav
  class="flex justify-between items-center px-3 py-2 bg-zinc-200 h-20 shadow-sm"
>
  <div class="flex gap-3">
    <a routerLink="/food/pizza" [class]="linkClass" class="border">Pizza</a>
    <a routerLink="/food/sandwich" [class]="linkClass" class="border"
      >Sandwich</a
    >
    <a routerLink="/food/drink" [class]="linkClass" class="border">Drink</a>
  </div>
  <div class="flex gap-1 flex-col group self-start items-end">
    <div
      class="rounded-full w-16 h-16 group-hover:shadow-lg shadow-sm border border-zinc-400 group-hover:border-zinc-600 transition-all duration-300 ease-in-out cursor-pointer"
    ></div>
    <div
      *ngIf="!isAuthenticated"
      class="flex-col shadow items-center gap-3 z-50 group-hover:shadow-lg group-hover:border-zinc-400 hidden rounded-xl group-hover:flex p-4 border"
    >
      <a routerLink="/login" [class]="linkClass" class="border-b">Login</a>
      <a routerLink="/register" [class]="linkClass" class="border-b"
        >Register</a
      >
    </div>
    <div
      *ngIf="isAuthenticated"
      class="flex-col shadow items-center gap-3 z-50 group-hover:shadow-lg group-hover:border-zinc-400 hidden rounded-xl group-hover:flex p-4 border"
    >
      <a routerLink="/my-orders" [class]="linkClass" class="border-b">My orders</a>
      <a routerLink="/cart" [class]="linkClass" class="border-b">Cart</a>
      <a routerLink="/settings" [class]="linkClass" class="border-b"
        >Settings</a
      >
      <a
        [class]="linkClass"
        class="border-b cursor-pointer"
        (click)="handleLogout()"
        >Logout</a
      >
    </div>
  </div>
</nav>
