<div class="w-full h-full">
  <div
    *ngIf="currentStep === 1"
    class="flex flex-col gap-2 justify-center h-full"
  >
    <label for="address">Pick an address:</label>
    <select
      id="address"
      class="p-2 bg-white border-b hover:border-b-zinc-300 shadow-sm w-full"
      [formControl]="addressFormControl"
    >
      <option *ngFor="let address of addresses" [value]="address.id">
        {{address.city}}: {{address.municipality}}: {{address.address}}
      </option>
    </select>
    <button
      (click)="nextStep()"
      class="w-fit p-2 px-5 border rounded shadow-sm active:shadow focus:shadow hover:border-zinc-300 focus:border-zinc-300"
    >
      Next step
    </button>
  </div>
  <div *ngIf="currentStep === 2">
    <payment (onTokenize)="handleMakeOrder($event)" (nextStep)="nextStep()" (beforeStep)="beforeStep()"></payment>
  </div>
</div>
